<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Opera Bookmarks Multipage Editor"
            extensions="adr"
            icon="icons/opera.png"
            class="de.abg.jreichert.forms.ui.internal.OperaExecutableExtensionFactory:de.abg.jreichert.forms.ui.editors.MultiPageBookmarkEditor"
            id="de.abg.jreichert.MultiOperaDSL">
      </editor>
      <editor
            name="Mister Wong Bookmarks Multipage Editor"
            extensions="wong"
            icon="icons/wong.png"
            class="de.abg.jreichert.forms.ui.internal.MisterWongExecutableExtensionFactory:de.abg.jreichert.forms.ui.editors.MultiPageBookmarkEditor"
            id="de.abg.jreichert.MultiMisterWongDSL">
      </editor>
	</extension>
</plugin>
