<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Opera Bookmarks Multipage Editor"
            extensions="adr"
            icon="icons/opera.png"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="de.abg.jreichert.forms.ui.internal.OperaExecutableExtensionFactory:de.abg.jreichert.forms.ui.editors.MultiPageBookmarkEditor"
            id="de.abg.jreichert.OperaDSL">
      </editor>
      <editor
            name="Mister Wong Bookmarks Multipage Editor"
            extensions="wong"
            icon="icons/wong.png"
            contributorClass="de.abg.jreichert.forms.ui.internal.MisterWongExecutableExtensionFactory:de.abg.jreichert.forms.ui.editors.MultiPageBookmarkEditorContributor"
            class="de.abg.jreichert.forms.ui.internal.MisterWongExecutableExtensionFactory:de.abg.jreichert.forms.ui.editors.MultiPageBookmarkEditor"
            id="de.abg.jreichert.WongDSL">
      </editor>   </extension>
</plugin>
