
/de.abg.jreichert.bookmarks.repository/target
/de.abg.jreichert.forms.ui/target
/de.abg.jreichert.operadsl/bin
/de.abg.jreichert.operadsl/src-gen/de
/de.abg.jreichert.operadsl/xtend-gen/de
/de.abg.jreichert.operadsl/target
/de.abg.jreichert.operadsl.generator/bin
/de.abg.jreichert.operadsl.generator/target
/de.abg.jreichert.operadsl.tests/bin
/de.abg.jreichert.operadsl.tests/src-gen/de
/de.abg.jreichert.operadsl.tests/xtend-gen/de
/de.abg.jreichert.operadsl.tests/target
/de.abg.jreichert.operadsl.ui/bin
/de.abg.jreichert.operadsl.ui/src-gen/de
/de.abg.jreichert.operadsl.ui/xtend-gen/de
/de.abg.jreichert.operadsl.ui/target
/de.abg.jreichert.wongdsl/bin
/de.abg.jreichert.wongdsl/src-gen/de
/de.abg.jreichert.wongdsl/xtend-gen/de
/de.abg.jreichert.wongdsl/target
/de.abg.jreichert.wongdsl.tests/bin
/de.abg.jreichert.wongdsl.tests/src-gen/de
/de.abg.jreichert.wongdsl.tests/xtend-gen/de
/de.abg.jreichert.wongdsl.tests/target
/de.abg.jreichert.wongdsl.generator/bin
/de.abg.jreichert.wongdsl.generator/target
/de.abg.jreichert.wongdsl.ui/bin
/de.abg.jreichert.wongdsl.ui/src-gen/de
/de.abg.jreichert.wongdsl.ui/xtend-gen/de
/de.abg.jreichert.wongdsl.ui/target
